@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,600); }

body {
  font-family: "Open Sans", sans-serif; }

button {
  font: 1rem "Open Sans", sans-serif;
  border: 0;
  border-radius: 5px;
  background-color: #FEFEFE;
  cursor: pointer;
  color: #EA5F5F;
  height: 100%;
  width: auto;
  padding: 0 1em;
  outline: 0;
  transition: 0.5s ease;
  margin: 0.5em 0; }
  button:hover {
    background-color: #fce6e6; }

input {
  font: 1rem "Open Sans", sans-serif;
  border: 0;
  border-radius: 5px;
  outline: 0;
  height: 100%;
  padding: 0 1em;
  color: #EA5F5F; }

::-webkit-input-placeholder {
  color: #EA5F5F; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #EA5F5F; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #EA5F5F; }

:-ms-input-placeholder {
  color: #EA5F5F; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

.hero__wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #EA5F5F;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.hero__logo {
  margin: 0 auto; }
  .hero__logo svg {
    width: 130px;
    height: 130px; }

.hero__signup {
  margin: 0 auto auto;
  color: #FEFEFE;
  width: 100%;
  padding: 1em; }
  .hero__signup-content h3 {
    font-weight: 400; }
  .hero__signup-form p {
    margin: 0; }

.signup__form {
  height: 2.2em; }

@media only screen and (min-width: 768px) {
  .hero__wrapper {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  .hero__signup {
    margin: 0 auto;
    width: 60vh; }
  .hero__logo svg {
    width: 250px;
    height: 250px; } }

body, main {
  background: #EA5F5F; }
