---
layout: default
title: Defty
---

<div class="hero__wrapper">
  <div class="hero__logo">
    <svg width="300" height="200" viewBox="0 0 59 42" xmlns="http://www.w3.org/2000/svg"><title>Defty</title><path d="M16.356 25.228c1.28-2.399 2.357-6.675 2.357-10.812 0-5.456-1.915-10.612-7.763-10.535-2.332-.037-4.327 1.122-5.821 2.772.018-.371.417-1.53.416-1.94-.238-.75-2.273-1.109-2.773-1.109-.179 0-.418 0-.416.139-.52 1.3-.76 2.379-1.108 3.742C.718 10.52 0 16.475 0 21.762c0 3.026.24 5.824.97 7.624.347 1.118 1.185 2.357 2.495 2.357h.139c-.93-1.48-1.21-4.357-1.248-7.208.038-2.945.317-5.902.555-7.485.36-2.694.92-5.332 1.525-7.624 1.549-2.065 3.863-3.903 6.237-3.881 3.69-.022 4.848 3.575 4.852 7.762-.004 4.286-1.28 9.243-2.218 11.228-1.337 2.731-2.973 4.81-5.96 4.851-1.482-.042-2.958-.721-3.743-2.218-.133-.222-.252-.302-.277-.277-.215-.025-.374.255-.416.693.042 1.84 1.837 3.719 4.713 3.743 3.827-.024 7.02-2.862 8.732-6.1zm13.585-9.703c0-1.374-.716-2.573-2.357-2.773h-.416c-4.425 0-6.93 6.353-6.93 11.09 0 3.252.954 7.208 4.99 7.208 2.168 0 3.838-1.239 4.435-3.327.079-.07.079-.15.139-.139v-.138a.72.72 0 0 0-.277.277c-.738.89-1.89 1.609-3.05 1.663-2.778-.054-3.016-3.85-3.05-6.099 2.3-.587 6.516-2.585 6.516-7.762zm-2.218.693c0 .908-.77 4.915-4.297 6.237.08-3.887 1.135-8.455 3.05-8.455.963 0 1.247 1.162 1.247 2.218zM39.366 0h-.97c-2.168 0-3.807.877-4.574 3.604-.711 2.14-.631 5.011-.693 9.703h-2.08c-.256-.065-.415.254-.415.554 0 .218.08.418.277.416h2.218v13.307c.022 1.093.222 3.327 1.802 3.327.617 0 1.376-.32 1.663-.832-.766-1.202-.926-5.51-.97-9.426.044-2.785.124-5.417.138-6.376h3.188v-.97h-3.188c.066-4.772 1.065-12.07 4.159-12.06.662-.01 1.301.388 1.525.832.136.115.176.155.277.139.058.016.138-.304.138-.555C41.861.758 40.543.16 39.366 0zm3.882 13.307c-.078-.617.081-2.857.138-4.158V8.87c-.017-1.3-.455-1.94-1.525-1.94-.88 0-1.278.64-2.079 1.386.602.413.682 1.773.693 3.188a47.94 47.94 0 0 0 0 1.802H38.95v.97h1.525c-.17 3.313-.37 6.771-.416 10.119v.416c.047 2.475.485 6.515 3.604 6.515.66 0 1.457-.16 1.802-.555.132-.085.172-.125.139-.138.033-.147-.007-.187-.139-.139h-.138c-.725-.048-1.282-1.048-1.386-1.386-.652-1.302-.89-3.381-.97-5.406 0-.535-.04-1.055 0-1.525-.04-2.57.08-5.489.138-7.762h3.465c.257-.047.416-.366.416-.693a.432.432 0 0 0-.416-.416h-3.326zm15.247.139c0-.158-.159-.278-.554-.278-.797 0-3.38 0-3.466 2.773-.192 3.289-.55 6.44-1.802 9.564-.416 1.022-.933 1.82-1.386 1.802-.342.018-.62-.46-.832-1.802-.106-.692-.146-1.65-.138-2.772-.008-3.264.509-7.71 1.386-9.565h-1.248s-.415 0-.831.139-.944.38-1.386 1.525c-.67 1.646-.71 4.597-.832 6.237.042.354.003.833 0 1.386.003 2.517.28 6.904 1.247 7.763.385.337.663.457.97.416 1.243.04 2.435-1.873 2.773-2.773 1.092-2.25 1.887-4.364 2.356-6.653.087.933.127 1.81.14 2.634.067.452.067 1.01 0 1.663.067 5.05-.887 15.737-6.654 15.802h-.139c-.65-.065-1.167-.424-1.525-.97v.277c0 .947 1.073 1.386 2.08 1.386 4.675 0 8.768-3.908 8.732-15.109v-.277c.036-.964-.123-3.396-.138-5.96.015-3.06.214-6.29 1.108-7.07.06-.017.139-.097.139-.138z" fill="#FEFEFE" fill-rule="evenodd"/></svg>
  </div>
  <div class="hero__signup">
    <div class="hero__signup-content">
      <h1>Vind en verspreid creatieve workshops door heel Nederland</h1>
      <h3>Meld je nu aan om als eerste op de hoogte te zijn van nieuwe ontwikkelingen</h3>

      <div class="hero__signup-form">
        <p>Laat hier je e-mailadres achter</p>
        <form class="signup__form">
          <input type="email" placeholder="E-mailadres" required>
          <button>Verzenden</button>
        </form>
      </div>
    </div>
  </div>
</div>
