.hero {
  &__wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  &__logo {
    margin: 0 auto;
    svg {
      width: 130px;
      height: 130px;
    }
  }
  &__signup {
    margin: 0 auto auto;
    color: $secondary-color;
    width: 100%;
    padding: 1em;
    &-content {
      h3 {
        font-weight: 400;
      }
    }
    &-form {
      p {
        margin: 0;
      }
    }
  }
}

.signup__form {
  height: 2.2em;
}

@media only screen and (min-width: 768px) {
  .hero {
    &__wrapper {
      flex-flow: row nowrap;
    }
    &__signup {
      margin: 0 auto;
      width: 60vh;
    }
    &__logo svg {
      width: 250px;
      height: 250px;
    }
  }
}
