button {
  font: 1rem $font-stack;
  border: 0;
  border-radius: 5px;
  background-color: $secondary-color;
  cursor: pointer;
  color: $primary-color;
  height: 100%;
  width: auto;
  padding: 0 1em;
  outline: 0;
  transition: 0.5s ease;
  margin: 0.5em 0;
  &:hover {
    background-color: lighten($primary-color, 30%);

  }
}
