input {
  font: 1rem $font-stack;
  border: 0;
  border-radius: 5px;
  outline: 0;
  height: 100%;
  padding: 0 1em;
  color: $primary-color;
}

::-webkit-input-placeholder {
   color: $primary-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $primary-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $primary-color;
}

:-ms-input-placeholder {
   color: $primary-color;
}
