<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <script src="/dest/js/main.min.js"></script>

    </head>
    <body>
      {% include header.html %}

      <main role="main">

      {{ content }}

      </main>

    </body>
</html>
